target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
.springBeans
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings
.classpath
.project
.DS_Store
runtime


# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

.metadata
.gradle
bin/
build/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
BACKUP*
DRLK*

#gemfire artifacts
server1/
*.log
*.zip
*.tgz
*.dat

# gemfire artifacts
grid/locator1/*.zip
grid/locator1/*.log
grid/locator1/*.dat
grid/locator1/Gem*
grid/locator1/cluster_config/cluster/*.jar
grid/locator1/ConfigDiskDir_locator1/
grid/server*

.idea/
bofa-batch-commons/bofa-batch-commons.iml
bofa-domain/bofa-domain.iml
bofa-functions/bofa-functions.iml
bofa-parent.iml
grid/locator1/
grid/server1/
grid/server2/
/pivotal-functions/
